.container {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.macro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 10px;
}

.instock {
	color: green;
}

.outstock {
	color: red;
}

.img_detail {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 300px;
	height: 300px;
	margin-right: 20px;
}

.info__description {
	display: flex;
}

.description {
	display: flex;
	width: 100%;
	height: 20%;
	margin-top: 10px;
}

.img {
	border-radius: 20px;
	height: auto;
	width: auto;
	max-height: 186px;
	max-width: 261px;
	margin-top: -70px;
}

.gridOfColors {
	width: 22px;
	height: 22px;
	cursor: pointer;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.btn_size {
	padding: 10px;
}

.addTo {
	padding: 10px;
}

.back {
	padding: 10px;
}

.shoe_cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	align-items: center;
}

.divvy_one {
	display: inline-flex;
	justify-content: center;
}

.divvy_two {
	display: block;
	justify-content: center;
	margin-top: 10px;
}

.palette {
	display: flex;
	width: 200px;
	margin-top: 25px;
}

.colorLink {
	margin: 0;
}

.size {
	width: 70%;
	margin-top: 10px;
}

.color {
	margin-top: 10px;
}

.colors {
	margin-top: 10px;
	margin-right: 20px;
	position: relative;
	top: -22px;
}

.price {
	margin-top: 10px;
}

.title {
	margin-bottom: 40px;
}

.description_label {
	margin-top: 10px;
}
