.container {
	display: flex;
	flex-direction: column;
	width: 600px;
	color: aliceblue;
}

.macro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
}

.instock {
	color: green;
}

.outstock {
	color: red;
}

.img_detail {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 450px;
	height: 380px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.info__description {
	display: flex;
}

.description {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.gridOfColors {
	width: 22px;
	height: 22px;
	cursor: pointer;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.btn_size {
	padding: 10px;
}

.addTo {
	padding: 10px;
}

.back {
	padding: 10px;
}

.shoe_cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	align-items: center;
}

.divvy_one {
	display: inline-flex;
	justify-content: center;
	color: aliceblue;
}

.divvy_two {
	display: block;
	justify-content: center;
	width: 600px;
	height: 300px;
	margin-top: 10px;
}

.palette {
	display: flex;
	width: 200px;
	margin-top: 25px;
}

.colorLink {
	margin: 0;
}

.size {
	width: 450px;
	height: 300px;
	/* margin-top: 10px; */
}

.color {
	margin-top: 10px;
}

.colors {
	margin-top: 10px;
	margin-right: 20px;
	position: relative;
	top: -22px;
}

.price {
	margin-top: 10px;
}

.title {
	margin-bottom: 40px;
	color: aliceblue;
}

.description_label {
	margin-top: 10px;
}

.btn_size {
	border: none;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	height: 50px;
	width: 50px;
	transition: background-color 0.2s;
}

.btn_size:hover {
	background-color: lightgray;
}

.btn_size:active {
	background-color: rgb(148, 148, 148);
}
