
.container {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 500%;
}

.macro {
	display: flex;
}

.instock {
	color: green;
}

.outstock {
	color: red;
}

.img_detail {
	display: flex;
	align-items: center;
	width: 300px;
	height: 300px;
}

.description {
	display: flex;
	width: 250px;
	height: 250px;
}

.info__description {
	display: flex;
}
.img {
	border-radius: 20px;
	height: auto;
	width: auto;
	max-height: 186px;
	max-width: 261px;
	margin-top: -70px;
}

.displayImgTrue {
	display: block;
	width: 330px;
	height: 250px;
	position: absolute;
	right: 0px;
	top: 100px;
	z-index: 1;
	border: 1px solid black;
}
.displayImgFalse {
	display: none;
	width: 300px;
	height: 250px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	border: 1px solid black;
}

.gridOfColors {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.gridOfFirstThreeColors {
	border: 1px solid black;
}

.shoesDescription {
	width: 70%;
	margin-left: 30%;
	height: 110px;
	overflow-y: scroll;
}
