.containerPage {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    background-color: #ffffff00;
}

.containerBTN {
    border: 0.8rem solid transparent;
    border-radius: 9999px;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    transition: background-color 0.5s;
    cursor: pointer;
    color: #270606;
    box-shadow: 1px 1px 10px #0c69e4;
}

.containerBTN:hover {
    background-color: #6d9cf5;
}

@media only screen and (max-width: 700px) {
    .itIsLittle {
        display: none;
    }
}
