.containerPage {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 42px;
    flex-wrap: wrap;
    background-color: #ffffff00;
}

.nav{
    color:aliceblue;
    background: rgb(69,69,69);
    background: radial-gradient(circle, rgba(69,69,69,1) 56%, rgba(69,69,69,1) 65%);
}

.containerBTN {
    border: 0.8rem solid transparent;
    border-radius: 9999px;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    transition: background-color 0.5s;
    cursor: pointer;
    color: aliceblue;
    box-shadow: 1px 1px 10px #dddfe2;
}

.containerBTN:hover {
    background-color: #e4e4e4;
}

@media only screen and (max-width: 700px) {
    .itIsLittle {
        display: none;

    }
}