@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
#root{
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: white;
	background: rgb(86,86,88);
	color:white;
	background: radial-gradient(circle, rgba(86,86,88,1) 0%, rgba(0,0,0,1) 100%);
}
body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: rgba(2, 87, 140, 0.419);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #1f5966;;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid rgb(30, 189, 128);  /* creates padding around scroll thumb */
  }

nav {
	background-color: #ededf7cd;
}

a {
	text-decoration: none;
	color:black
}
