@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;	
	background-color: #1f59668f;
    background-image: radial-gradient(at 47% 33%, hsl(182deg 100% 85% / 74%) 0, #0b64271a 59%), radial-gradient(at 82% 65%, #1f59665c 0, #5a6ecf4a 55%);
}

nav {
	background-color: #ededf7cd;
}

a {
	text-decoration: none;
	color:black
}