.main {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.divvy {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.check {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	
}
.inputname {
	margin-top: 10px;
	width:auto;
}