.li{
    cursor:pointer;
    background-color:white;
    width:100%;
}

.h5:hover{
    color:red
}


@media screen and (max-width: 1024px){
	.buscar{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.buscar{
		width: 50%;
	}
	
}

@media screen and (max-width: 568px){
	.buscar{
		width: 100%;
	}
	
}