Link {
    text-decoration: none;
}
Link:hover {

}
.btn{
    position: "absolute"; 
    left: "50px";
    border-radius: 5px;
    width: 50px;
    height: 30px;
    box-shadow: 1px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}
.card{
    color: aliceblue;
}
.img{
    border-radius: 10px;
    margin: 10px;
}