.footer {
  width: 100%;
  height: 100%;
  background-color: rgb(95, 92, 92);
  color: white;
  position: fixed;
  z-index: -2;
  bottom: 0;
  left: 0;
}
.footer-info {
  font-size: 15px;
  padding: 100px 0 0px 0px;
  width: 70%;
  margin: 0 auto;
}

.footer-contact {
  font-size: 18px;
  padding: 0px 0 0px 50px;
  width: 70%;
  margin: 0 auto;
}

.footer-sns {
  width: 70%;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.sns-links {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.instagram,
.twitter,
.facebook {
  color: rgb(24, 19, 19);
  font-size: 35px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
}

.instagram:hover,
.twitter:hover,
.facebook:hover {
  border-color: white;
  transition: all 0.3s ease-out;
}

.design-by {
  font-size: 18px;
  padding-left: 50px;
  color: white;
}

/*submit*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.widget_blog_subscription {
  display: block;
  margin: 50px auto;
  width: 60%;
  max-width: 490px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  background-color: #F6F6F2;
  border-radius: 10px;
}
.widget_blog_subscription:after,
.widget_blog_subscription:before {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 15px, transparent 15px, transparent 25px, #83B3DB 25px, #84ADCB 40px, transparent 40px, transparent 50px);
}

.widget_blog_subscription p {
  margin: 0;
  text-align: left;
}
.widget_blog_subscription p:first-child {
  margin: 30px 30px 15px;
  color: #83B3DB;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  letter-spacing: 1px;
}
.widget_blog_subscription #subscribe-blog:before {
  content: '>>>>>';
  width: auto;
  height: auto;
  display: block;
  border: 2px solid rgba(242, 155, 145, 0.5);
  padding: 4px;
  position: absolute;
  top: 36px;
  right: -30px;
  color: rgba(242, 155, 145, 0.5);
  font-size: 28px;
  transform: rotate(17deg);
  font-weight: 400;
  text-decoration: underline;
  border-radius: 10px;
}
.widget_blog_subscription #subscribe-blog:after {
  content: '&';
  width: 50px;
  height: 50px;
  display: block;
  border: 4px double rgba(242, 155, 145, 0.5);
  padding: 10px;
  position: absolute;
  bottom: 30px;
  right: -10px;
  color: rgba(242, 155, 145, 0.5);
  font-size: 50px;
  transform: rotate(-30deg);
  font-weight: 400;
  border-radius: 99px;
  text-align: center;
  line-height: 50px;
}
.widget_blog_subscription input[type="text"] {
  margin: 15px 30px;
  color: #999;
  padding: 15px 0 !important;
  text-align: left;
  width: 100% !important;
  max-width: calc(100% - 60px);
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: transparent;
  border-top: 1px solid #83B3DB;
  border-bottom: 1px solid #83B3DB;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="submit"] {
  margin: 15px 35px 25px;
  background-color: #83B3DB;
  color: #fff;
  padding: 14px 18px !important;
  text-align: center;
  width: auto;
  max-width: 70%;
  outline: none;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
  box-shadow: 0px 0px 0px 5px #83B3DB;
}
.widget_blog_subscription input[type="submit"]:hover {
  background-color: #F29B91;
  box-shadow: 0px 0px 0px 5px #F29B91;
}



@media only screen and (max-width: 960px) {
  .footer-info {
    text-align: center;
    padding: 0;
    font-size: 20px;
  }

  .footer-contact {
    font-size: 16px;
    padding: 100px 0 30px 0;
    text-align: center;
  }

  .footer-sns {
    grid-template-columns: 1fr;
    text-align: center;
  }
.submit{
   text-align: center;
    padding: 0;
    font-size: 20px;
}
  .design-by {
    padding: 0 0 40px 0;
  }
}
