.formContainer{
    max-width:800px;
    width:32%;
    margin:auto;
    padding:10px;    
}

.h1 {
    display:flex;
    justify-content:center;
    color:#1d1c1c;
    margin-top:0;
}

.form{
    margin-top:2rem;
    display:grid;
    grid-template-columns:2fr 2fr;
    gap:20px;
    margin-left: 1rem;
}

.label{
    display:block;
    color:#0a0a0a;
    font-weight:700;
    padding:10px;
    min-height:40px;
    cursor:pointer;
}