.btn_delete {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	height: 25px;
	width: 50px;
	background-color: grey;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 10px;
	margin-left: 2px;
}
