.main {
	display: flex;
	margin-top: 70px;
	justify-content: space-around;
}

.form {
	display: flex;
	flex-direction: column;
	width: 400px;
	color: aliceblue;
}

.divvy {
	display: flex;
	flex-direction: column;
	margin: 10px;
	color: aliceblue;
}

.sizebox {
	display: inline-flex;
	justify-content: space-evenly;
	flex-direction: row;
	height: 200px;
	width: 320px;
	flex-wrap: wrap;
	margin: 10px;
}

.sizes {
	display: flex;
	align-items: center;
}

.checkboxes {
	margin: 8px;
	align-items: center;
	justify-content: center;
	align-content: center;
	align-self: center;
	text-align: center;
}

input.checkboxes {
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.thumbnail_box {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 320px;
	border-width: 3px;
	border-style: dotted;
	border-color: grey;
	border-radius: 10px;
	background-color: lightgrey;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.thumbnail {
	width: 395px;
	height: 320px;
	border-radius: 10px;
}

.desc {
	height: 80px;
	width: 380px;
	font-size: 16px;
	border-radius: 10px;
}

.btn_create {
	position: relative;
	top: 35px;
	left: 125px;
	height: 35px;
	width: 130px;
	border: none;
	background-color: rgb(184, 184, 184);
	border-radius: 6px;
	cursor: pointer;
}

.btn_create:active {
	box-shadow: 0 1px #666;
	transform: translateY(1px);
	background-color: #666;
}

.label{
	color: aliceblue;
}

.btn_back {
	position: relative;
	margin-top: 5px;
	left: 10px;
	height: 35px;
	width: 130px;
	border: none;
	background-color: rgb(184, 184, 184);
	border-radius: 6px;
	cursor: pointer;
}

.btn_back:active {
	box-shadow: 0 1px #666;
	transform: translateY(1px);
	background-color: #666;
}

.error {
	border-style: solid;
	border-width: 3px;
	border-color: rgb(182, 9, 9);
	border-radius: 10px;
	height: 28px;
	font-size: 16px;
}

.error_desc {
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(182, 9, 9);
	height: 80px;
	width: 380px;
}

.hide {
	display: none;
}

.req {
	color: rgb(182, 9, 9);
	margin-left: 30px;
}

.inputname {
	display: flex;
	border-radius: 10px;
	height: 28px;
	font-size: 16px;
}

.div_color {
	display: flex;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
}

.btn_color {
	border: none;
	border-radius: 10px;
	margin: 3px;
	cursor: pointer;
}

.btn_color:active {
	transform: translateY(1px);
}

.colorbox {
	display: flex;
	max-height: 220px;
	/* flex-wrap: wrap; */
}

.colorDivvy {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
}

.btn_clearColor {
	display: flex;
	white-space: nowrap;
	align-items: center;
	padding: 10px;
	margin-right: 7px;
	margin-top: 7px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgb(165, 165, 165);
	color: black;
}

.btn_clearColor:active {
	transform: translateY(1px);
}

.fileBox {
	display: inline-flex;
	margin-top: 10px;
}

.upload_btn {
	margin-top: 5px;
	left: 10px;
	height: 35px;
	width: 130px;
	border: none;
	background-color: rgb(184, 184, 184);
	border-radius: 6px;
	cursor: pointer;
}

.fileInput {
	font-family: sans-serif;
	font-size: 14px;
	display: flex;
	align-self: center;
	padding: 20px;
	cursor: pointer;
}

.fileInputBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5px;
	margin-right: 138px;
	height: 35px;
	width: 130px;
	border: none;
	background-color: rgb(184, 184, 184);
	border-radius: 6px;
}

.hideFile {
	visibility: hidden;
}

.fileInputBox:active {
	box-shadow: 0 1px #666;
	transform: translateY(1px);
	background-color: #666;
}

.upload_btn:active {
	box-shadow: 0 1px #666;
	transform: translateY(1px);
	background-color: #666;
}
