.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items:center;
}

.links{
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
     
        flex-wrap: wrap;
        justify-items:center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-items:center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-items:center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-items:center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-items:center;
    }
}