.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    background-color: #eff3f5;
    padding: 3vh;
    border-radius: 0.8vh;
}

.input{
    width: 15vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.btn{
    cursor: pointer;
    background-color: rgb(184, 184, 184);
    padding: 0.5vh;
    border-radius: 0.5vh;
    width: 15vw;
    margin-top: 0.5vh;
}

.title{
    font-size: 2.8vh;
}

.error{
    font-size: 1.7vh;
    font-weight: bold;
    
}